.header__search {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
}

@media (width <= 400px) {
    .header__search {
        padding: 4px;
        width: 100px;
    }
}