.cards__button {
    font-family: "OpenSans-r", sans-serif;
    cursor: pointer;
    background-color: transparent;
    color: #bd9f09;
    border: none;
    font-size: 25px;
    transition: color 0.3s;
}

.cards__button:hover {
    color: #ffd500;
}