.cards__button-close {
    padding: 0.4vw 0.7vw;
    margin: 0.3vw;
    font-size: 1.5vw;
    align-items: center;
    border: 0.1vw solid #b9b9b9;
    background-color: #494949;
    cursor: pointer;
}

.cards__button-close:hover {
    background-color: #8d8d8d;
}