.cards__modal-card {
    max-width: 30%;
    max-height: 95%;
    padding: 1vw;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background-color: #1a191f;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.cards__modal-card::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
